body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #282323;
}
h1 {
  font-size: 72px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
p {
  line-height: 2;
  font-size: 18px;
}
img {
  border-radius: 15px;
  width: 386px;
}
.container-wraper {
  width: auto;
  height: 900px;
  background-image: url("/images/Evgeny.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.btn-outline a {
  background-color: white;
  border-radius: 50px;
  color: #272142;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 45px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.photoExample {
  background-image: none;
}
footer .socialLink a {
  font-size: 18px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 30px;
    line-height: 1.5;
  }
  footer p {
    font-size: 16px;
  }
  .container-wraper {
    background-image: none;
    height: 600px;
  }
  .centered {
    left: 50%;
  }
}
